body{
	margin:0;
	background-color:black;
}
.potencia{
	background-color:white;
	height: 0.3em;
}
.potenciaReal{
	position: absolute;
	margin-left: -0.93em;
	background-color:green;
	height: 0.3em;
}
.container-habilidades{
	background-color: rgba(255,255,255,0.1);

}
.container-resumo{
	background-color: rgba(255,255,255,0.1);
}
#foto{
	top:7em;
border-radius: 50em;
	position:relative;
	height:20em;
width: 20em;
transition-duration:1s;
border:2px double green;
}
#foto:hover{

	transform:rotate(360deg) scale(1.2);
	border:5px double green;

}
 #btn-main1{
	transition-duration: 0.5s;
margin-left: 25%;
}#btn-main2{
	margin-right:25%;
}
#foto:hover ~ #btn-main{

	transform:rotate(360deg) scale(1.2);
	border:5px double green;

}
.navbar-brand{
	transition-duration:1s;
}
#brand:hover #faixa{
display: none;
}

#nav{
	position: fixed;
	width: 100%;
	z-index: 999;
}
#main{
 height: 30em;
	 width:100%;
}

.parallax {
  background-image: url("images/code.png");
  opacity: 0.8;
 width: 100%;
 height: 100%;
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#checkIcon{
	display: none;
}
.faixa{
width: 100%;
height: 2em;
	background-image:url("images/tag.png");
	background-size:2em;
	background-repeat: space(1em);
	padding-left: 1em;

}
.navbar-toggler-icon{
	display: none;

}
.navcab{
	height:2em;

}
.icon{
	display: inline;
}
#link{
	float: left;
}
#tchau{
	display: none;
}
div ul li{

}




@media screen and (max-width: 1240px) {

	*{
		transition-duration: 0.2s;
	}

	#btn-main1{
		transition-duration: 0.5s;
		left: 13em;
	}#btn-main2{
	left:35em;
	}

	#checkIcon{
		display: inherit;
	}

	.navbar-toggler-icon{
		display: inherit;
		border: 0.25px solid yellow;
		padding: 2px;
		border-radius: 3px;
	}
.nav-item{
		transition-duration: 0.4s;
display: none;


	}

	#link{
		display: inherit;


	}

	#check:checked ~ div ul li {

		opacity:1;
	display:inherit;
	}
	#check:checked ~ #link{
		display:inherit;
		opacity: 1;
	}
#check:checked ~ .icon{
	display:inline-block;

}
#ic1{
	float: left;
}
#ic2{
	float:left;
}





}
/* @media screen and (max-width: 1240px) {

994 1258 */
