body{
	margin:0;
	background-color:gray;
}
.navbar-brand{
	transition-duration:1s;
}
#brand:hover #faixa{
display: none;
}

#nav{
	position: fixed;
	width: 100%;
	z-index: 999;
}
#main{
 height: 30em;
background-color:black;
	 width:100%;
}

.parallax {
  background-image: url("images/code.png");
  opacity: 0.8;
 width: 100%;
 height: 100%;
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.faixa{
width: 100%;
height: 50px;
background-color: blue;
	background-image:url("images/tag.png");
	background-size:50px;

}
.navbar-toggler-icon{
	display: none;

}
.navcab{
	height:2em;

}
.icon{
	display: inline;
}
#link{
	float: left;
}
#tchau{
	display: none;
}

@media only screen and (max-width: 850px) {

	.icon{
		display: none;
	}
	*{
		transition-duration: 0.2s;
	}
	#tchau{
		display: inherit;
	}
	.navbar-toggler-icon{
		display: inherit;
		border: 0.25px solid yellow;
		padding: 2px;
		border-radius: 3px;
	}
	div ul li {
		transition-duration: 0.4s;

		opacity:1;

		display:none;
		opacity:0;
	}
	#check:checked ~ div ul li {

		opacity:1;

	display:inherit;
	}

}
