body{
	margin:0;
	background-color:black;
}
*{
	transition-duration:0.9s;
}
.potencia{
	background-color:white;
	height: 0.3em;
}
.potenciaReal{
	position: absolute;
	margin-left: -0.93em;
	background-color:green;
	height: 0.3em;
}
.container-habilidades{
	background-color: rgba(255,255,255,0.1);

}
.container-resumo{
	background-color: rgba(255,255,255,0.1);
}
#foto{
	top:7em;
border-radius: 20em;
	position:relative;
	height:20em;
width: 20em;
transition-duration:1s;
border:2px double green;
}
#foto:hover{

	transform:rotate(360deg) scale(1.2);
	border:5px double green;

}
 #btn-main1{
 	transition-duration:1s;
 	transition-timing-function:linear;
	margin-left: 10em;

}#btn-main2{
		margin-right: 10em;

		transition-duration: 1s;


}
#foto:hover ~ #btn-main1{
 	transition-duration:1s;

	transform:rotate(-30deg) scale(1.2);
	border:5px double green;

}

#foto:hover ~ #btn-main2{
 	transition-duration:1s;

	transform:rotate(30deg) scale(1.2);
	border:5px double green;

}
.navbar-brand{
	transition-duration:1s;
}
#brand:hover #faixa{
display: none;
}

#nav{
	position: fixed;
	width: 100%;
	z-index: 999;
}
#main{
 height: 30em;
	 width:100%;
}

.parallax {
  background-image: url("images/code.png");
  opacity: 0.8;
 width: 100%;
 height: 100%;
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#checkIcon{
	display: none;
}
.faixa{
width: 100%;
height: 2em;
	background-image:url("images/tag.png");
	background-size:2em;


}
.navbar-toggler-icon{
	display: none;

}
.navcab{
	height:2em;

}
.icon{
	display: inline;
}
#link{
	float: left;
}
#tchau{
	display: none;
}
div ul li{

}
#h1{
	 float:left;
}
#h2{
	float: right;
}

#idiomas{
}
.test{
	display: none;
}

@media screen and (max-width: 990px) {

	*{
		transition-duration: 0.2s;
	}
h1{
	font-size: 2em;
}
	#btn-main1{
		transition-duration: 0.5s;
		left: 13em;
	}#btn-main2{
	left:35em;
	}

	#checkIcon{
		display: inherit;
	}

	.navbar-toggler-icon{
		display: inherit;
		padding: 2px;
		border-radius: 3px;
	}
.nav-item{
		transition-duration: 0.4s;
display: none;


	}

	#link{
		display: inherit;


	}

	#check:checked ~ div ul li {

		opacity:1;
	display:inherit;
	}
	#check:checked ~ #link{
		display:inherit;
		opacity: 1;
	}
#check:checked ~ .icon{
	display:inline-block;

}
#ic1{
	float: left;
}
#ic2{
	float:left;
}
#h1{
	 float:inherit;
}
#h2{
	float: inherit;

}




}
@media screen and (max-width: 1230px) and (min-width: 990px) {
.navbar-toggler-icon{
	display: none;

}
